In [1]:
import pandas as pd
import time as t

a = t.time()
unsw = pd.read_csv("UNSW-NB15_1.csv", header=None)
b = t.time()
print(b-a)

C:\Users\Zethc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,3,47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

4.005788326263428

In [2]:
len(unsw)

700001

In [2]:
unsw.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

In [ ]:
unsw[unsw.iloc[:,47].notna()][0].unique()

In [ ]:
srcip_list = ["172.16.0.1","172.17.0.1","172.18.0.1","172.19.0.1","172.20.0.1","172.21.0.1","172.22.0.1","172.23.0.1",
              "172.24.0.1","172.25.0.1","172.26.0.1","172.27.0.1","172.28.0.1","172.29.0.1","172.30.0.1","172.31.0.1"]

In [ ]:
import numpy as np
unsw1 = unsw.copy()
unsw1[0] = np.random.choice(srcip_list, unsw1.shape[0])
unsw1[unsw1.iloc[:,47].notna()][0].unique()

In [4]:
unsw2 = unsw.copy()
unsw2[0] = unsw2[0].astype(str)+":"+unsw2[1].astype(str)
unsw2[2] = unsw2[2].astype(str)+":"+unsw2[3].astype(str)
unsw2.drop(columns=[1,3], inplace=True)
unsw2.head()

,0,2,4,5,6,7,8,9,10,11,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0:1390,149.171.126.6:53,udp,CON,0.001055,132,164,31,29,0,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0:33661,149.171.126.9:1024,udp,CON,0.036133,528,304,31,29,0,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6:1464,149.171.126.7:53,udp,CON,0.001119,146,178,31,29,0,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5:3593,149.171.126.5:53,udp,CON,0.001209,132,164,31,29,0,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3:49664,149.171.126.0:53,udp,CON,0.001169,146,178,31,29,0,...,0,7,9,1,1,1,1,1,NaN,0

In [5]:
len(unsw2[0].unique())

403155

In [6]:
len(unsw2[2].unique())

188076

In [ ]:
from sklearn import preprocessing
le1 = preprocessing.LabelEncoder()
le1.fit(unsw2[4])
unsw2[4] = le1.transform(unsw2[4])
le2 = preprocessing.LabelEncoder()
le2.fit(unsw2[5])
unsw2[5] = le2.transform(unsw2[5])
le3 = preprocessing.LabelEncoder()
le3.fit(unsw2[13])
unsw2[13] = le3.transform(unsw2[13])
unsw2.head()

In [ ]:
unsw2[47] = unsw2[47].fillna("Normal")
unsw2.head()

## UNSW.pkl

In [ ]:
unsw2.to_pickle("unsw.pkl")
unsw_ = pd.read_pickle("unsw.pkl")

In [ ]:
unsw_.describe()

## edge_feat.npy

In [ ]:
edge_feat = unsw_.iloc[:,2:45].to_numpy()
edge_feat

In [ ]:
np.save("edge_feat.npy",edge_feat)

In [ ]:
edge_feat.shape

## nodes.npy

In [ ]:
srcnode = set(unsw_[0])
dtnode = set(unsw_[2])
nodes = list(dtnode.union(srcnode))
nodes

In [ ]:
np.save("nodes.npy", nodes)

In [ ]:
nodes = np.load("nodes.npy")
num_nodes = len(nodes)

In [ ]:
num_nodes

In [ ]:
len(unsw_)

## label_bi.npy

In [ ]:
binary = unsw_[48].to_numpy()
np.save("label_bi.npy", binary)

In [ ]:
b = np.load("label_bi.npy")
np.unique(b)

## adj.npy

In [ ]:
adj = unsw_[[0,2]].to_numpy()
np.save("adj.npy", adj)

In [ ]:
c = np.load("adj.npy", allow_pickle=True)
c

## label_mul.npy

In [ ]:
unsw2[47].unique()

In [ ]:
multi = unsw2[47].replace({'Normal':0, 'Exploits':1, 'Reconnaissance':2, 'DoS':3, 'Generic':4,
                           'Shellcode':5, ' Fuzzers':6, 'Worms':7, 'Backdoors':8, 'Analysis':9})
multi.unique()

In [ ]:
multi = multi.astype(np.int16)
multi.unique()

In [ ]:
np.save("label_mul.npy", multi)

In [ ]:
this = np.array([[1,2],
   [2,3]])
this[0]

## Scale

In [1]:
import pandas as pd
unsw_ = pd.read_pickle("unsw.pkl")
unsw_.head()

,0,2,4,5,6,7,8,9,10,11,...,39,40,41,42,43,44,45,46,47,48
0,172.20.0.1:1390,149.171.126.6:53,120,2,0.001055,132,164,31,29,0,...,0,3,7,1,3,1,1,1,Normal,0
1,172.21.0.1:33661,149.171.126.9:1024,120,2,0.036133,528,304,31,29,0,...,0,2,4,2,3,1,1,2,Normal,0
2,172.26.0.1:1464,149.171.126.7:53,120,2,0.001119,146,178,31,29,0,...,0,12,8,1,2,2,1,1,Normal,0
3,172.27.0.1:3593,149.171.126.5:53,120,2,0.001209,132,164,31,29,0,...,0,6,9,1,1,1,1,1,Normal,0
4,172.29.0.1:49664,149.171.126.0:53,120,2,0.001169,146,178,31,29,0,...,0,7,9,1,1,1,1,1,Normal,0

In [2]:
unsw_.iloc[:,2:-2].head()

,4,5,6,7,8,9,10,11,12,13,...,37,38,39,40,41,42,43,44,45,46
0,120,2,0.001055,132,164,31,29,0,0,2,...,0,0,0,3,7,1,3,1,1,1
1,120,2,0.036133,528,304,31,29,0,0,0,...,0,0,0,2,4,2,3,1,1,2
2,120,2,0.001119,146,178,31,29,0,0,2,...,0,0,0,12,8,1,2,2,1,1
3,120,2,0.001209,132,164,31,29,0,0,2,...,0,0,0,6,9,1,1,1,1,1
4,120,2,0.001169,146,178,31,29,0,0,2,...,0,0,0,7,9,1,1,1,1,1

In [3]:
unsw_.iloc[:,2:-2] = unsw_.iloc[:,2:-2].apply(lambda x: (x-x.mean())/ x.std(), axis=0)
unsw_.head()

,0,2,4,5,6,7,8,9,10,11,...,39,40,41,42,43,44,45,46,47,48
0,172.20.0.1:1390,149.171.126.6:53,0.539563,-1.60983,-0.033249,-0.108637,-0.258887,-0.18786,-0.097889,-0.335726,...,-0.111842,-0.666038,0.208351,-0.843011,-0.398264,-0.366370,-0.281842,-0.537313,Normal,0
1,172.21.0.1:33661,149.171.126.9:1024,0.539563,-1.60983,-0.031896,-0.099817,-0.258135,-0.18786,-0.097889,-0.335726,...,-0.111842,-0.863076,-0.438814,-0.575663,-0.398264,-0.366370,-0.281842,-0.085069,Normal,0
2,172.26.0.1:1464,149.171.126.7:53,0.539563,-1.60983,-0.033246,-0.108325,-0.258812,-0.18786,-0.097889,-0.335726,...,-0.111842,1.107310,0.424072,-0.843011,-0.636946,0.168089,-0.281842,-0.537313,Normal,0
3,172.27.0.1:3593,149.171.126.5:53,0.539563,-1.60983,-0.033243,-0.108637,-0.258887,-0.18786,-0.097889,-0.335726,...,-0.111842,-0.074922,0.639793,-0.843011,-0.875629,-0.366370,-0.281842,-0.537313,Normal,0
4,172.29.0.1:49664,149.171.126.0:53,0.539563,-1.60983,-0.033245,-0.108325,-0.258812,-0.18786,-0.097889,-0.335726,...,-0.111842,0.122117,0.639793,-0.843011,-0.875629,-0.366370,-0.281842,-0.537313,Normal,0

In [5]:
import numpy as np
edge_feat_scaled = unsw_.iloc[:,2:-2].to_numpy()
np.save("edge_feat_scaled.npy",edge_feat_scaled)

In [7]:
unsw_[47].unique()

array(['Normal', 'Exploits', 'Reconnaissance', 'DoS', 'Generic',
       'Shellcode', ' Fuzzers', 'Worms', 'Backdoors', 'Analysis'],
      dtype=object)

In [1]:
import numpy as np
from sklearn.metrics import f1_score
lb = np.load('label_bi.npy')
zeros = np.zeros((lb.shape))
f1_score(lb, zeros, average='micro')

0.9682643310509557

In [2]:
f1_score(lb, zeros, average='weighted')

0.9526523444998437

In [3]:
lb.sum()/len(lb)

0.03173566894904436

In [1]:
import numpy as np
edge_feat = np.load("edge_feat_scaled.npy")
True in np.isnan(edge_feat)

False

In [1]:
import numpy as np
lb = np.load('label_bi.npy')
(lb==0).sum()

677786

In [5]:
lb = np.load('label_mul.npy')
(lb==9).sum()

526

## adj_random

In [1]:
import numpy as np
edge_feat = np.load("edge_feat_scaled.npy")
srcip_list = list(range(170000))
dstip_list = list(range(170001,340000))
src = np.random.choice(srcip_list, edge_feat.shape[0])
dst = np.random.choice(dstip_list, edge_feat.shape[0])
adj_random = np.column_stack((src,dst))
np.save("adj_random.npy", adj_random)
np.save("node_random.npy", np.array(list(range(300000))))

In [2]:
import pickle
from collections import defaultdict
adj = np.load("adj_random.npy", allow_pickle=True)
adj_lists = defaultdict(set)  # not return keyerror when not found
for i, line in enumerate(adj):
    node1 = line[0]
    node2 = line[1]
    adj_lists[node1].add(i)  # mutual neighbor
    adj_lists[node2].add(i)
with open('adj_random_list.dict', 'wb') as file:
    pickle.dump(adj_lists, file, protocol=pickle.HIGHEST_PROTOCOL)

In [3]:
import numpy as np
lb = np.load('label_mul.npy')
(lb==0).sum() / len(lb)

0.9682643310509557

## Undersampling

In [5]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from sklearn.model_selection import train_test_split
import numpy as np
from collections import Counter

In [10]:
edge_feat = np.load("edge_feat_scaled.npy")
label_bi = np.load("label_bi.npy")
label_mul = np.load('label_mul.npy')

num_edges = len(edge_feat)
train_val, test = train_test_split(np.arange(num_edges), test_size=210000, stratify=label_bi)
train_before, val = train_test_split(train_val, test_size=5000, stratify=label_bi[train_val])

print("Before undersampling: {}".format(Counter(label_bi[train_before])))
rus = RandomUnderSampler(random_state=42, sampling_strategy='auto')
train, y_rus = rus.fit_resample(train_before.reshape(-1, 1), label_bi[train_before])
print("After undersampling: {}".format(Counter(y_rus)))
train = train.reshape(-1,)

Before undersampling: Counter({0: 469609, 1: 15392})
After undersampling: Counter({0: 15392, 1: 15392})

In [11]:
edge_rus = np.concatenate((edge_feat[test], edge_feat[val], edge_feat[train]),axis=0)
edge_rus.shape

(245784, 43)

In [12]:
np.save('edge_feat_rus.npy', edge_rus)

label_bi_rus = np.concatenate((label_bi[test], label_bi[val], label_bi[train]),axis=0)
label_mul_rus = np.concatenate((label_mul[test], label_mul[val], label_mul[train]),axis=0)
np.save('label_bi_rus.npy', label_bi_rus)
np.save('label_mul_rus.npy', label_mul_rus)

In [13]:
srcip_list = list(range(60000))
dstip_list = list(range(60001,120000))
src = np.random.choice(srcip_list, edge_rus.shape[0])
dst = np.random.choice(dstip_list, edge_rus.shape[0])
adj_rus = np.column_stack((src,dst))
np.save('adj_rus.npy', adj_rus)

import pickle
from collections import defaultdict
adj = np.load("adj_rus.npy", allow_pickle=True)
adj_lists = defaultdict(set)  # not return keyerror when not found
for i, line in enumerate(adj):
    node1 = line[0]
    node2 = line[1]
    adj_lists[node1].add(i)  # mutual neighbor
    adj_lists[node2].add(i)
with open('adj_rus_list.dict', 'wb') as file:
    pickle.dump(adj_lists, file, protocol=pickle.HIGHEST_PROTOCOL)